* {
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
img {
  cursor: pointer;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  font-family: Kumbh Sans;
  padding: 0 8rem;
  display: grid;
}

.container {
  margin-bottom: 5rem;
  width: 100%;
}

/** 
    * ! NAVBAR STYLE
    */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 3.5rem;
}

nav a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
}

nav span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-right: 0;
}

nav .avatar {
  width: 3rem;
  margin-right: 0;
}

nav .cart {
  cursor: pointer;
}

/** 
    * ! MAIN STYLE
    */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 0 5rem;
  align-items: center;
}

.pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.pictures img {
  border-radius: 20px;
}

.big-picture img {
  width: 95%;
}
.big-picture:hover {
  transform: scale(1.2);
}

.images {
  display: flex;
  gap: 1rem;
}

.images img {
  width: 21%;
  border: 2px solid transparent;
}
.images img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.sneaker-com {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: hsl(219, 9%, 45%);
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.informations-div h1 {
  color: hsl(220, 13%, 13%);
  margin-bottom: 0;
}

.informations-div .para {
  color: hsl(219, 9%, 45%);
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 16px;
}

.price-div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
}

.price-div .price {
  color: hsl(220, 13%, 13%);
  font-weight: 800;
  font-size: 1.3rem;
}

.price-div .percentage {
  background-color: hsl(220, 13%, 13%);
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.old-price {
  text-decoration: line-through;
  font-size: 0.9rem;
  margin-top: 0;
  color: hsl(220, 13%, 20%);
}

.add-to-cart {
  display: flex;
  gap: 1rem;
}

.minus-btn,
.plus-btn {
  color: hsl(26, 100%, 55%);
  font-weight: 800;
  border: 0;
  padding: 0.1rem 1rem;
  cursor: pointer;
  background-color: transparent;
}

.minus-btn:active,
.plus-btn:active {
  color: black;
  transition: ease-in-out;
}

.minus-btn {
  font-size: 1.3rem;
}

.plus-btn {
  font-size: 1.1rem;
}

.quantity {
  padding: 0.1rem 2rem;
  color: hsl(220, 13%, 13%);
  font-weight: 800;
}

.btn {
  background-color: hsl(26, 100%, 55%);
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: hsl(220, 13%, 13%);
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn:hover {
  color: hsl(26, 100%, 55%);
  background-color: transparent;
  border: 2px solid hsl(26, 100%, 55%);
  transition: 0.15s ease;
}

.btn:active {
  color: hsl(220, 13%, 13%);
}

